@import "../../styles/variables.scss";

.Container {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  // flex-direction: column;
  display: block;

  .PickFile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }

    img {
      object-fit: contain;
      border-radius: 1rem;
    }
  }

  .UploadedFile {
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
  }
}

.Small {
  padding: 0.5rem;
}

.CloseBtn {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  font-size: 2rem;
  color: red;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
