@import "../../../styles/variables.scss";

.Container {
  height: 9rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $color-light;
  position: sticky;
  top: 0;
  z-index: 11;
  transition: 300ms ease;

  &.Active {
    box-shadow: 0 0 10px $color-dark;
  }

  nav {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;

    div {
      display: flex;
      gap: 2rem;
      font-size: 2.5rem;

      @media screen and (max-width: 600px) {
        display: none;
        pointer-events: none;
        margin-right: auto;
      }
    }
  }

  svg {
    color: $color-gray-2;
    cursor: pointer;

    &:hover,
    &:active {
      color: darken($color-yellow, 20%);
    }
  }

  .Cart {
    position: relative;
    display: flex;
    align-items: center;

    span {
      position: absolute;
      top: -0.5rem;
      left: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-danger;
      color: white;
      border-radius: 50%;
      width: 1.7rem;
      height: 1.7rem;
      font-size: 1.2rem;
      padding: 0.5rem;
    }
  }
}

.Buy {
  color: $color-dark;
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  border: 0.3rem solid $color-yellow;
  align-self: center;

  @media screen and (max-width: 600px) {
    margin-left: -30rem;
  }

  @media screen and (max-width: 500px) {
    margin-left: -20rem;
  }
}
